{% comment %}
    This file is used for loading test-cases.
    Based on JQuery and Deferred.
    
    testbase.js: TestRunner and BaseTest classes
    
    Incoming variables:
        js - it is an array of loading tests
             Example:
                js = [
                    'cases/simpleTest.js',
                    'cases/complexTest.js',
                    ...
                ]
{% endcomment %}<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css">
        <style>
            iframe { width: 99%; height:99%; }
        </style>
        <script type="text/javascript" src="/static/tests/base/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="/static/tests/base/jquery.json-2.2.min.js"></script>
        <script type="text/javascript" src="/static/tests/base/jsdeferred.js"></script>
        <script type="text/javascript" src="/static/tests/base/testbase.js"></script>
        {% for jsfile in js %}
            <script type="text/javascript" src="{{ jsfile }}"></script>
            <script type="text/javascript">
                if ( typeof test != 'undefined' ) {
                    if ( typeof context != 'undefined' ) {
                        for (n in context) {
                            test[n] = context[n];
                        }
                    } else console.log('context is undefined')
                    console.log(test);
                    TestRunner.addTest(test);
                    delete context;
                    delete test;
                } else console.log('test is undefined')
            </script>
        {% endfor %}
    </head>
    {% if error %}<div id="error">{{error|default:""}}</div>{% endif %}
    <div id="results"></div>
    <iframe id="frame" name="frame">
    </iframe>
</html>
