<div id="folder-tip" class="invisible">Specify a suite name here</div>
<div id="suite-tip" class="invisible">Specify a suite name here</div>
<div id="test-tip" class="invisible">Specify a test name here</div>
<div class="dialog invisible" id="create-dir-index-dialog">
	<span id="fsobject-tip"></span>
	<br>
	<br>
	<form id="create-fsobject">
		<input type="hidden" id="full-path" name="path" value="{{ directory }}">
		<input style="width: 100%;" id="object-name" name="object-name" align="bottom">
	</form>
</div>

<div style=" text-align: center;" class="dialog invisible" id="operationResult" title="Operation Result">

</div>

<div style=" text-align: center;" class="dialog invisible" id="operationInProgress" title="Progress">
	In progress...
</div>


<div style="text-align: center;" class="dialog invisible" id="operationControl" title="Grant control">
	Some user want to access to this file.<br>
	Leave this page?
</div>

<div style="display:none;" id="context-preview">
  
</div>
