{% load dir_index_tags %}<ul id="dir-index-menu" class="contextMenu" style="display:none;">
	<li class="edit"><a href="#edit">Context</a></li>
	<li class="delete"><a href="#remove">Delete</a></li>
	<li class="move"><a href="#move">Move</a></li>
	<li class="separator run-suite"><b><a href="#run">Run</a></b></li>
</ul>

<form id='context-action' method='POST'>
	<input type="hidden" name="path" value="" />
	<input type="hidden" name="context" value="" />
	<input type="hidden" name="url" value="{{ directory|make_url }}" />
</form>
