<div class="dialog invisible" id="create-dir-index-dialog">
	<span>Specify a folder name here</span>
	<br>
	<br>
	<form id="create-fsobject">
		<input type="hidden" id="full-path" name="path" value="{{ directory }}">
		<input style="width: 100%;" id="object-name" name="object-name" align="bottom">
	</form>
</div>

<div style=" text-align: center;" class="dialog invisible" id="operationResult" title="Operation Result">

</div>

<div style=" text-align: center;" class="dialog invisible" id="operationInProgress" title="Progress">
	In progress...
</div>
