<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load i18n %}
{% load dir_index_tags %}

<head>
	<script type="text/javascript">
		// Define a cross-browser window.console.log method.
		// For IE and FF without Firebug, fallback to using an alert.
		if (!window.console) {
			window.console = { log: function() {  } };
		}
	</script>
    <link rel="shortcut icon" href="/static/img/{{ favicon }}">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui/css/start/jquery-ui-1.8.9.custom.css" />
	<script type="text/javascript" src="/static/jquery-ui/js/jquery-1.4.4.min.js"></script>
  	<script type="text/javascript" src="/static/jquery-ui/js/jquery.json-2.2.min.js"></script>
	<script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.8.9.custom.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    
    <link rel="stylesheet" href="/static/css/jquery.contextMenu.css" type="text/css">
    <script type="text/javascript" src="/static/js/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="/static/js/dir-index-ctxmenu.js"></script>
    <script type="text/javascript" src="/static/js/dir-index-tools.js"></script>
    
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>{{ directory|current }}</title>
    {% block head %}
        {% block styles %}
	{% endblock styles %}
	{% block javascripts %}
	{% endblock javascripts %}
    {% endblock head %}
</head>

{% include "dir-index-tools.html" %}
{% include "dir-index-menu.html" %}

<body>
	{% block body %}
	<div class="header">
		<a href="#" title="Riurik Web Based Acceptance Testing Framework"></a>
		<div class="tittle-riurik">Riurik Web Based Acceptance Testing Framework</div>
	</div>
	<div class="content">
		<div style="float:right;">
			{% block controls %}
			<form id="run-suite" method="POST" action="/actions/suite/submit/" target="{{ directory }}">
			<input type="hidden" name="path" value="{{ directory }}">
			<input type="hidden" name="url" value="{{ directory }}">
			<ul class="horizontal-menu">
				{% if type != 'front-page' %}
					{% ifequal type 'suite' %}
						{% if contexts %}
						<li>
							<a id="run-suite-btn" href="javascript:void(0);" onClick="javascript:$('#run-suite').submit();">Run Suite</a>
							<select id="context" name="context">
								{% for item in contexts %}
									<option value="{{ item }}">{{ item }}</option>
								{% endfor %}
							</select>
						</li>
						{% endif %}
						<li><a id="context-preview-ctrl" href=".context.ini" rel='context-preview'>{% trans "Context" %}</a></li>
						<li><a id="new-test" href="javascript:void(0);" onClick="javascript:createTest();">Create Test</a></li>
					{% else %}
						{% ifequal type 'virtual' %}
							<li><a id="virtual-settings" href=".settings.ini?editor">Settings</a></li>
						{% endifequal %}
						<li><a id="new-suite" href="javascript:void(0);" onClick="javascript:createFolder();">Create Suite</a></li>
						<li><a id="new-test" href="javascript:void(0);" onClick="javascript:createTest();">Create Script</a></li>
					{% endifequal %}
				{% else %}
					<li><a id="configure" href="javascript:void(0);" >Configure</a></li>
				{% endif %}
			</ul>
			</form>
			{% endblock controls %}
		</div>
		{% block title %}
		<p class="breadcrumbs">{{ directory|breadcrumbs }}</p>
		{% endblock title %}
		<div style="clear:both;"></div>
		
		<div class="line">
			{% block content %}
			<div id="dir-index-id" class="dir-index" style="width:500px;">
	        	<ul>
	        		<li></li>
	        		{% for f in dir_list %}
	        		<li id="{{ f.title|strip:'/' }}" class="{{ f.type }}" title="{{ f.title|strip:'/' }}">
						<a href="{{ f.title }}">{{ f.title|strip:'/' }}</a>
	    			</li>
	    			{% endfor %}

	        		{% for f in file_list %}
	        		<li class="{{ f.type }}" title="{{ f.title|strip:'/' }}">
						<a id="{{ f.title|strip:'/' }}" href="{{ f.title }}?editor">{{ f.title|strip:'/' }}</a>
	    			</li>
	    			{% endfor %}
	    		</ul>
	    	</div>
			{% endblock %}
		
    	</div>
    </div>
    {% endblock body %}
</body>
</html>
