<html>
	<head>
		<title>Error occured</title>
		<script type="text/javascript" src="/static/jquery-ui/js/jquery-1.4.4.min.js"></script>
	</head>
	<body>
		<h1>Error occured</h1>
		<p class="type header">Exception type:</p>
		<p class="type">{{ type }}</p>
		<p class="message header">Error message (argument):</p>
		<p class="message">{{ msg }}</p>
		<p class="issue header">How to resolve issue:</p>
		<p class="issue">{{ issue }}</p>
		<p class="stack header">Exception stacktrace:</p>
		<p class="stack">{{ stacktrace }}</p>
		<p >Request:</p>
		<p class="request">{{ request }}</p>

	</body>
</html>
