<html>
    <head>
        <style>
            iframe { width: 99%; height:99%; }
        </style>
        <script type="text/javascript" src="/testsrc/loader/jquery-1.5.js"></script>
        <script type="text/javascript" src="/testsrc/loader/jquery.json-2.2.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/testsrc/loader/qunit.css" media="screen" />
		<script type="text/javascript" src="/testsrc/loader/qunit.js"></script>
		
        <script type="text/javascript" src="/testsrc/loader/testLoader.js"></script>
		<script type="text/javascript" src="/testsrc/cases/libraries/sharepoint.js"></script>
		<script type="text/javascript" src="/testsrc/{{ jspath }}/library.js"></script>
        <script type="text/javascript" src="/testsrc/{{ jsfile }}"></script>
        
    </head>
	<body>
		<h1 id="qunit-header">QUnit example</h1>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-fixture">test markup, will be hidden</div>

		{% if error %}<div id="error">{{error|default:""}}</div>{% endif %}
		<div id="results"></div>
		<iframe id="frame" name="frame">
			<html>
				<head>
				</head>
				<body>
				</body>
			</html>
		</iframe>
</html>
