{% load i18n %}<html>
    <head>
		<title>{{ title }}</title>
        <style>
			iframe { width: 99%; height:700px; }
        </style>
        <script type="text/javascript" src="/testsrc/loader/jquery-1.5.1.js"></script>
        <script type="text/javascript" src="/testsrc/loader/jquery.json-2.2.min.js"></script>
		<script type="text/javascript" src="/testsrc/loader/jqueryui/js/jquery-ui-1.8.10.custom.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/testsrc/loader/jqueryui/css/redmond/jquery-ui-1.8.10.custom.css">
		
		<link rel="stylesheet" type="text/css" href="/testsrc/loader/qunit.css" media="screen" />
		<script type="text/javascript" src="/testsrc/loader/qunit.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/testsrc/loader/testLoader.css" />
        <script type="text/javascript" src="/testsrc/loader/testLoader.js?_={{rand}}"></script>
		<script type="text/javascript" src="/testsrc/cases/libraries/sharepoint.js?_={{rand}}"></script>
		<script type="text/javascript" src="/testsrc/{{ jspath }}/context.js?_={{rand}}"></script>
		<script type="text/javascript" src="/testsrc/{{ jspath }}/library.js?_={{rand}}"></script>
		{% if suite %}
        <script type="text/javascript">
            stop();
            $(document).ready(function(){
				if ( typeof context == 'undefined' ) {
					context = { include: [] };
					alert('No context loaded');
				}
                context.include = context.include || [];
                for ( i in context.include ) {
                    var jsfile = context.include[i];
                    var script = document.createElement( 'script' );
                    script.type = 'text/javascript';
                    script.src = '/testsrc{{ jspath }}/'+jsfile+'?_={{rand}}';
                    document.body.appendChild( script );    
                };
            });
        </script>          
        {% else %}
        <script type="text/javascript" src="/testsrc/{{ jsfile }}?_={{rand}}"></script>
        {% endif %}
		<script type="text/javascript">$(document).ready(function() { $( "#tabs" ).tabs(); } );</script>
    </head>
	<body>
		<h1 id="qunit-header">QUnit example</h1>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-fixture">test markup, will be hidden</div>

		{% if error %}<div id="error">{{error|default:""}}</div>{% endif %}
		<div id="results"></div>
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">{% trans 'Frame' %}</a></li>
				<li><a href="#tabs-2">{% trans 'PowerShell console' %}</a></li>
				<li><a href="#tabs-3">{% trans 'QUnit console' %}</a></li>
			</ul>
			<div id="tabs-1">
				<iframe id="frame" name="frame">
					<html>
						<head>
						</head>
						<body>
						</body>
					</html>
				</iframe>
			</div>
			<div id="tabs-2">
				<div id="powershell-console">
				</div>
			</div>
			<div id="tabs-3">
				<div id="qunit-console">
				</div>
			</div>
		</div>
	</body>
</html>
