.header {
	background: url(/static/img/head_bg.png);
	height: 100px;
	width: 100%;
}

.horizontal-menu li {
	display: inline;
	padding: 0 10px 0 5px;
	border-right: solid 1px #000;	
}

.horizontal-menu a {
	font-family: Calibri, cursive;
	font-size:10pt;
	text-decoration: none;	
}

.horizontal-menu li a:hover {
  color: #33CC00;
}

.horizontal-menu li:last-child {
  border: none;
}

.horizontal-menu li.disabled a {
	color: #AAA;
	cursor: default;
}

body {
	color: #666;
	font-family: Tahoma, Arial, Helvetica, Tahoma, serif;
	font-size: 12px;
}

a.logo {
	background-image: url(/static/img/logo.gif) no-repeat scroll top left;
	display: block;
	float: left;
	margin-left: 48px;
	outline: none;
	width: 70px;
	height: 74px;
}

.tittle-riurik {
	color: white;
	cursor: default;
	float: left;
	font-family: arial, serif;
	font-size: 16px;
	padding: 29px 0px 0px 121px;
}

.content {
	margin: 30px 63px 0px;
}

.line {
	background: url(/static/img/border-dotted.gif) repeat-x 50% 0%;
	margin: 0px;
	padding: 1px;
}

.dir-index {
	float: left;
	width: 24%;
}

.dir-index a {
	color: #058CB6;
	font-family: Tahoma, Arial, Helvetica, serif;
	font-size: 12px;
	text-decoration: none;
}

li img {
	margin-bottom: -5px;
	padding-right: 7px;
}

.content li {
	list-style: none;
	margin-bottom: 5px;
}

.invisible {
	display: none;
}

.breadcrumbs {
    color: navy;
    font-weight: normal;
}

.breadcrumbs a {
    text-decoration: none;
}

.dir-index li {
	height: 16px;
	padding-left: 24px;	
}

.dir-index .folder { background: url(/static/img/dir-index-folder.gif) no-repeat scroll top left; }
.dir-index .suite { background: url(/static/img/dir-index-suite.gif) no-repeat scroll top left; }
.dir-index .test { background: url(/static/img/dir-index-test.gif) no-repeat scroll top left; }