.dir-rclick-menu {
	display:none;
	font-size:0.75em;
	position:absolute;
	background:#fff;
	border:1px solid #aaa;
}

.dir-rclick-menu ul {
	border-right: solid 1px #000;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100px;
}

.dir-rclick-menu li {
	padding: 0 10px 0 5px;
	cursor: pointer;	
}

.dir-rclick-menu-separator{
	border-top: 1px ridge #aaa;
	margin:5px 0
}

.dir-rclick-menu a {
	font-family: Tahoma, Arial, Helvetica, serif;
	font-size:10pt;
	color: #058CB6;
	text-decoration: none;	
}

.dir-rclick-menu li a:hover {
  color: #33CC00;
}

.rclick-menu {
	border:1px solid #aaa;
	position:absolute;
	background:#fff;
	display:none;
	font-size:0.75em;
}

.rclick-menu .first_li span{
	width:100px;
	display:block;
	padding:5px 10px;
	cursor:pointer
}

.rclick-menu .inner_li{
	display:none;
	margin-left:120px;
	position:absolute;
	border:1px solid #aaa;
	border-left:1px solid #ccc;
	margin-top:-28px;
	background:#fff;
}

.rclick-menu .sep_li{
	border-top: 1px ridge #aaa;
	margin:5px 0
}

.rclick-menu .fill_title{
	font-size:11px;
	font-weight:bold;
	height:15px;
	overflow:hidden;
	word-wrap:break-word;
}