.content textarea {
	width: 99%;
}
.content iframe {
	border: 1px solid #000 !important;
}

a.disabled {
	color: grey;
}

.CodeMirror {
	width: 100%;
}

.CodeMirror-scroll {
	height: auto;
	width: 100%;
	overflow: visible;
}
