#apply-test {
	top: 40px;
}

.content textarea {
	width: 99%;
}
.content iframe {
	border: 1px solid #000 !important;
}

a.disabled {
	color: grey;
}

.content {
	position: inherit;
}

#code {
    width: 90%;
    min-height: 70%;
}

body {
    padding-bottom: 50px;
}
