.history {
	width: 100%;
	padding: 0 10px;	
}

.history, .history table {
	border: 0 none;	
	color: black;
}

.history .runs {
	margin: 5px 0;	
}

.history .passed {
	background: #AAFFAA;
}

.history .failed {
	background: #FFAAAA;
}

.history .unknown {
	background: #CCC;
}

.history .date {
	padding: 10px;	
}

.history .details {
	padding: 0;
}

.history .details table {
	margin: 0; 
	padding: 0;
	width: 100%;
}
