iframe { width: 99%; height: 700px; }
body {
    padding-bottom: 30px;
}
#developer-consoles {
    position:fixed;
    z-index: 99999999999;
    bottom:0;
    left: 0;
	background: none repeat scroll 0% 0% rgb(224, 231, 235);
	border-top: 1px solid rgb(195, 204, 208);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0), 0px 0px 3px rgba(0, 0, 0, 0.1);
    height: 30px;
    overflow: hidden;
    width: 100%;
}
#developer-consoles.opened {
    height: 230px;
}
#status-container {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
}
#status-text {
    white-space: nowrap;
    background: #FFF;
    padding-left: 25px;
    height: 25px;
}
#status-text.in-progress {
    background: url(/static/img/loading.gif) no-repeat scroll 4px 3px #FFF;
}
#status-container #labels {
    list-style: none;
    position: absolute;
    right: 10px;
    top: 3px; 
    margin: 0;
    padding: 0;
    height: 22px;
}
#status-container #labels li {
    list-style: none;
    margin: 0;
    padding: 3px;
    margin-right: 5px;
    display: inline;
    cursor: pointer;
    color: #111;
    border: solid 1px #CCA;
    background: #BBB;
    background: -webkit-gradient(linear, left top, left bottom, from(#BBB), to(#CCC));
    background: -moz-linear-gradient(top,  #BBB,  #CCC);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBB', endColorstr='#CCC');
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    height: 20px;
}
#status-container #labels li:hover {
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#DDD));
    background: -moz-linear-gradient(top,  #CCC,  #DDD);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCC', endColorstr='#DDD');
}

#powershell-console, #riurik-console, #git-console {
    height: 200px;
    display: none;
    width: 100%;
    position: absolute;
    top: 30px;
    background: #F5F5F0;
    color: #57676E;
    overflow-x: hidden;
    overflow-y: scroll;
}
#powershell-console hr, #riurik-console hr, #git-console hr {
	color: #EEE;
}
#powershell-console, #riurik-console, git-console
#powershell-console *, #riurik-console *, #git-console * {
	font-size: 1em;
}

#git-console {
    padding-top: 25px;
	height: 175px;
}

#git-console #git-status {
    position: absolute;
    top: 2px;
    left: 10px;
}

#git-console #git-add {
    position: absolute;
    top: 2px;
    left: 55px;
}

#git-console #git-commit {
    position: absolute;
    top: 2px;
    left: 103px;
}

#git-console #git-push {
    position: absolute;
    top: 2px;
    left: 160px;
}


