<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>Index of {{ directory }}</title>
</head>

{% load img_by_fstype %}

<body>
    <h1>{{ directory }}</h1>
    {% for f in file_list %}
    <img src="/static/img/{{ directory|img_by_fstype:f }}" height="24" width="24" title="{{ f }}"></img> <a href="{{ f }}">{{ f }}</a><br>
    {% endfor %}
</body>
</html>