<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% load dir_index_tags %}

<head>
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui/css/start/jquery-ui-1.8.9.custom.css" />
	<script type="text/javascript" src="/static/jquery-ui/js/jquery-1.4.4.min.js"></script>
  	<script type="text/javascript" src="/static/jquery-ui/js/jquery.json-2.2.min.js"></script>
	<script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.8.9.custom.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <script type="text/javascript" src="/static/js/dir-index-tools.js"></script>
    
    <link rel="stylesheet" href="/static/css/jquery.contextMenu.css" type="text/css">
    <script type="text/javascript" src="/static/js/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="/static/js/dir-index-ctxmenu.js"></script>
    
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>{{ directory|current }}</title>
    {% block head %}
        {% block styles %}
	{% endblock styles %}
	{% block javascripts %}
	{% endblock javascripts %}
    {% endblock head %}
</head>

{% include "dir-index-tools.html" %}
{% include "dir-index-menu.html" %}

<body>
	{% block body %}
	<div class="header">
		<a href="#" title="Riurik Web Based Acceptance Testing Framework"></a>
		<div class="tittle-riurik">Riurik Web Based Acceptance Testing Framework</div>
	</div>
	<div class="content">
		<div style="float:right;">
			{% block controls %}
			<ul class="horizontal-menu">
				<li><a id="new-folder" href="#" onClick="javascript:createFolder('{{ directory }}')">Create Folder</a></li>
				<li><a id="new-suite" href="javascript:createSuite()">Create Suite</a></li>
				<li><a id="new-test" href="javascript:createTest()">Create Test</a></li>
				<li><a href="/tests/{{ ''|kind_tests }}/">{{ ''|kind_tests }} Tests</a></li>
			</ul>
			{% endblock controls %}
		</div>
		{% block title %}
		<h4>{{ directory|breadcrumbs }}</h4>
		{% endblock title %}
		<div style="clear:both;"></div>
		
		<div class="line">
			{% block content %}
			<div id="dir-index-id" class="dir-index" style="width:500px;">
	        	<ul>
	        		<li></li>
	        		{% for f in file_list %}
	        		<li class="{{ directory|dir_index_type:f }}" title="{{ f|strip:'/' }}">
						<a id="{{ f|strip:'/' }}" href="{{ f }}">{{ f|strip:'/' }}</a>
	    			</li>
	    			{% endfor %}
	    		</ul>
	    	</div>
			{% endblock %}
		
    	</div>
    </div>
    {% endblock body %}
</body>
</html>
