{% extends 'static/directory_index.html' %}
{% load i18n dir_index_tags %}
{% block styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="/static/css/editor.css" />	
{% endblock styles %}

{% block javascripts %}
	{{ block.super }}
	{% if not is_stubbed %}
	<script type="text/javascript" src="/static/codemirroreditor/js/codemirror.js"></script>
	<script type="text/javascript" src="/static/codemirroreditor/js/ctrl.js"></script>
        <script type="text/javascript">
   	  $(document).ready(function() {
          var source_value = draft_value = $('#code').val();
  		  var editor = CodeMirror.fromTextArea("code", {
		    height: "600px",
		    content: source_value,
		    parserfile: ["tokenizejavascript.js", "parsejavascript.js"],
		    stylesheet: "/static/codemirroreditor/css/jscolors.css",
		    path: "/static/codemirroreditor/js/",
		    autoMatchParens: true,
		    basefiles: ["util.js", "stringstream.js", "select.js", "undo.js", "editor.js", "tokenize.js", "jquery.js", "ctrl.js"],
		    onLoad: function(){
                window.frames[0].$(document).ready(function(){
                    window.frames[0].$.ctrl('S', function(){ $('#save').trigger('click'); });
                    window.frames[0].$.ctrl('R', function(){ $('#run').trigger('click'); });
                });
		    }
		  });
            var ConfirmDiscardchanges = function(){
                var new_value = editor.getCode();
                if ( new_value == source_value ) {
                    return true
                }
                if ( confirm('{% trans "Are you sure to close this file and discard all changes?" %}') == false ) {
                    return false;
                }
                return true;
            };
            $(document).unload(ConfirmDiscardchanges);
            $('a').click(function(e){
                e.stopPropagation();
                if ($(this).attr('id') != 'save' && $(this).attr('id') != 'run' && $(this).attr('id') != 'discard' && $(this).attr('id') != 'close') {
                    return ConfirmDiscardchanges();
                }
            });
            $('#discard').click(function(){ if ( ConfirmDiscardchanges() ) document.location=document.location;});
            $('#close').click(function(){ if ( ConfirmDiscardchanges() ) document.location='{{ request.path|above }}';});
            $('#run').click(function(){ $('#apply-test').attr('action', '/actions/test/submit/').attr('target', '{{ request.path|current }}');$('#apply-test').submit(); });
            $('#save').click(function(){ $('#apply-test').attr('action', '/actions/test/save/').removeAttr('target');$('#apply-test').submit(); });

            var ticks = 0;
            var savingDraft = false;
            var saveDraft = function(){
                if ( savingDraft === false ) {
                    var new_value = editor.getCode();
                    $('#draft').attr('disabled', 'disabled');
                    savingDraft = true;
                    ticks = 0;
                    $('#draft').val('{% trans 'saving draft' %}');
                    $.post(
                        '/actions/test/save/draft/',
                        {'path':'{{ relative_file_path }}','url':'{{ request.path }}', 'content':new_value},
                        function(data){
                            try {
                                var data = $.parseJSON(data);
                                if ( data['success'] != false ) {
                                    $('#draft').removeAttr('disabled');
                                    $('#draft').val('{% trans 'save draft' %}');
                                    draft_value = new_value;
                                } else { console.log(data); }
                            } catch (ex) { console.log(ex); }
                            ticks = 0;
                            savingDraft = false;
                        }    
                    );
                }
            };
            $('#draft').click(saveDraft);
            setInterval(function(){
                var new_value = editor.getCode();
                if ( new_value == draft_value ) { return; }
                ticks = ticks + 1;
                if ( savingDraft === false ) {
                    $('#draft').removeAttr('disabled');
                }
                if ( savingDraft === false && ticks > 5 ) {
                    saveDraft();
                }
            },1000);
            $.ctrl('S', function(){ $('#draft').trigger('click'); });
            $.ctrl('R', function(){ $('#run').trigger('click'); });
	  });
          setInterval(function(){
             $.get('/actions/test/stub/', { path: '{{ relative_file_path }}' });
          }, 30 * 1000);
	</script>
	{% endif %}
{% endblock %}

{% block controls %}
	{% if not is_stubbed %}
	<ul class="horizontal-menu">
		<li><a id="run" href="javascript:void(0);">{% trans "Run" %}</a></li>
		<li><a id="save" href="javascript:void(0);">{% trans "Save" %}</a></li>
		<li><a id="discard" href="javascript: void(0);">{% trans "Discard" %}</a></li>
		<li class="disabled"><a id="history" href="javascript: void(0);">{% trans "History" %}</a></li>
		<li><a id="close" href="javascript: void(0);">{% trans "Close" %}</a></li>
	</ul>
	{% endif %}
{% endblock controls %}

{% block title %}<h4>{{ request.path|breadcrumbs_file }}</h4>{% endblock title %}

{% block content %}
	{% if not is_stubbed %}
		<form id='apply-test' method='POST'>
		<input type="hidden" name="path" value="{{ relative_file_path }}" />
		<input type="hidden" name="url" value="{{ request.path }}" />
		<textarea id='code' name='content'>{{ content|default:"" }}</textarea>
		<input id='draft' type='button' value='{% trans 'save draft' %}'>
		</form>
	{% else %}
		<pre>{{ content }}</pre>
	{% endif %}
{% endblock content %}