{% load i18n %}
{% comment %}
	Loading tests or test suites with current context, libraries and etc.

	{{ root }}   contains '/testsrc/'
	{{ loader }} contains '/testsrc/loader/'
	{{ cases }} contains '/testsrc/cases/'
	{{ jspath }} contains full directory urlpath to test or suite including {{ root }}
	{{ jsfile }} contains full urlpath to test including {{ root }}
	{{ error }} contains errors
	{{ rand }} contains random float number to avoid script caching
{% endcomment %}
<html>
	<head>
		<title>{{ title }}</title>
		<style>
			iframe { width: 99%; height:700px; }
		</style>
		<script type="text/javascript" src="{{ loader }}/jquery-1.5.1.js"></script>
		<script type="text/javascript" src="{{ loader }}/jquery.json-2.2.min.js"></script>
		<script type="text/javascript" src="{{ loader }}/jqueryui/js/jquery-ui-1.8.10.custom.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ loader }}/jqueryui/css/redmond/jquery-ui-1.8.10.custom.css">
		
		<link rel="stylesheet" type="text/css" href="{{ loader }}/qunit.css" media="screen" />
		<script type="text/javascript" src="{{ loader }}/qunit.js"></script>
		
		<link rel="stylesheet" type="text/css" href="{{ loader }}/testLoader.css" />
		<script type="text/javascript" src="{{ loader }}/testLoader.js?_={{rand}}"></script>
		
		<script type="text/javascript" src="{{ cases }}/{{ jspath }}/.context.js?_={{rand}}"></script>
		<script type="text/javascript">
			riurik.load = function() {
				QUnit.config.autostart = false;
				
				if ( typeof context == 'undefined' ) {
					context = { include: [] };
					alert('Context was not loaded');
				}
				
				var loading_complete = new Array();
				
				context.libraries = context.libraries || [];
				for ( i in context.libraries ) {
					var jsfile = context.libraries[i];
					loading_complete.push( riurik.load_js( '{{ cases }}/' + jsfile + '?_={{rand}}' ) );
				};
				
				{% if suite %}
				
				context.include = context.include || [];
				for ( i in context.include ) {
					var jsfile = context.include[i];
					loading_complete.push( riurik.load_js( '{{ cases }}/{{ jspath }}/' + jsfile + '?_={{rand}}' ) );
				};
				
				{% else %}
				
				loading_complete.push( riurik.load_js('{{ cases }}/{{ jsfile }}?_={{rand}}') );
				
				{% endif %}
				
				$.when.apply( this, loading_complete ).then(function() {
					QUnit.log('all modules are loaded');
					QUnit.log('autostart= ' + QUnit.config.autostart);
					QUnit.config.autostart = true;
					QUnit.start();
				});
				
				setTimeout(function() {
					if( QUnit.config.autostart != true ) {
						QUnit.log('scripts load timeout, forcing tests to start ...');
						QUnit.start();	
					}	
				}, 10000);
			};
		</script>		  
		<script type="text/javascript">$(document).ready(function() { $( "#tabs" ).tabs(); } );</script>
		
	</head>
	<body>
		<h1 id="qunit-header">QUnit example</h1>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-fixture">test markup, will be hidden</div>

		{% if error %}<div id="error">{{error|default:""}}</div>{% endif %}
		<div id="results"></div>
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">{% trans 'Frame' %}</a></li>
				<li>
					<a href="#tabs-2">{% trans 'Tools console' %}</a>
					<div style="width:16px; height: 16px; float: left; padding: .5em 0;">
						<img id="tabs-2-loading" src="{{ loader }}/loading.gif" style="display:none;">
					</div>
					</li>
				<li><a href="#tabs-3">{% trans 'QUnit console' %}</a></li>
			</ul>
			<div id="tabs-1">
				<div id="frame-url"></div>
				<iframe id="frame" name="frame">
					<html>
						<head>
						</head>
						<body>
						</body>
					</html>
				</iframe>
			</div>
			<div id="tabs-2">
				<div id="powershell-console">
				</div>
			</div>
			<div id="tabs-3">
				<div id="qunit-console">
				</div>
			</div>
		</div>
	</body>
</html>
